// Fonts
$headline-family: 'freeland', serif;
$body-family: 'open-sans', sans-serif;

// Font weights
$light-weight: 300;
$book-weight: 400;
$bold-weight: 700;

// Colors
$white: #ffffff;
$black: #000000;
$primary-color: #444444;
$secondary-color: #666666;
